<!-- Main Content -->
<div id="content" class="site-content">
    <!-- Slideshow -->
    <div class="section slideshow">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="assets/img/slideshow/bg1.png" >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slideshow/bg2.png" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slideshow/bg3.png" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- <div class="item">
                    <img class="img-responsive" src="assets/img/slideshow/4.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slideshow/11.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slideshow/10.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div> -->
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left icon-arrow-left" aria-hidden="false"></span>

            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-left icon-arrow-right" aria-hidden="false"></span>

            </a>
        </div>
    </div>


    <!-- Intro -->
    <div class="section intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="intro-header">
                        <h3>Proverbs Medical Supplies</h3>
                        <p>Proverbs Medical Pty Ltd is a well-established company that was started in 2017 by a team of
                            highly qualified, skilled and determined professionals, to set an outstanding trend in
                            supplying hospital and Laboratory equipment, Furniture,
                            Rapid Diagnostics, Dental, surgical instruments and general medical supplies. </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-left">
                        <div class="intro-item">
                            <p><img src="assets/img/intro-icon-1.png" alt="Intro Image"></p>
                            <h4>Vision</h4>
                            <p>To be reputable regionally as the prime supplier of Medical Equipment,
                                Rapid Diagnostics, General Medical Supplies and Health Care Products.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="assets/img/intro-icon-3.png" alt="Intro Image"></p>
                            <h4>Values</h4>
                            <p>• Professionalism
                                • Integrity
                                • Mutual respect
                                • Responsiveness
                                • Timely response and delivery
                                • Customer service Credibility
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="effect">
                        <a href="#">
                            <img class="img-responsive" src="assets/img/intro-01.png" alt="Intro Image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-right">
                        <div class="intro-item">
                            <p><img src="assets/img/intro-icon-2.png" alt="Intro Image"></p>
                            <h4>Our Mission</h4>
                            <p>To uplift and maintain the health care system through providing quality medical
                                equipment
                                and supplies to the medical fraternity and health care partners at affordable costs.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="assets/img/intro-icon-4.png" alt="Intro Image"></p>
                            <h4>Our Services</h4>
                            <p>• Supply of : • Medical and Surgical Instruments
                                • Hospital Furniture and Rapid Diagnostics
                                • Dental and Radiology Equipment
                                • Hospital Consumable and Sundries,
                                •Install and service equipment, advise and train customers on use
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Product - Best Sellers -->
    <div class="section products-block product-tab nav-color show-hover nav-round best-sellers">
        <div class="block-title">
            <h2 class="title"><span>Our Products</span></h2>
            <div class="sub-title">View our wide range of medical and healthcare products</div>
        </div>

        <div class="container">
            <div class="center-block col-lg-10 col-md-10" style="float: none !important;">
                <div class="product-category-page">
                    <!-- Nav Bar -->
                    <div class="products-block">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let category of categories">
                                <div class="product-item"
                                    style="box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.22);border-radius: 0;">
                                    <div class="product-image">
                                        <a href="">
                                            <img class="img-responsive" src="{{ category.imageUrl }}"
                                                alt="Product Image">
                                        </a>
                                    </div>
                                    <br>
                                    <div class="product-title text-center">
                                        <a class="product-title text-center">
                                            {{category.name}}
                                        </a>
                                    </div>
                                    <div class="product-rating">
                                        <!-- <div class="star on"></div>
                                                <div class="star on"></div>
                                                <div class="star on "></div>
                                                <div class="star on"></div>
                                                <div class="star"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>