/* Carousel base class */
.carousel {
     height: 400px; 
     /* margin-bottom: 60px;  */
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 99999;
    top: 90px;
    margin-bottom: auto;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 400px; 
    background-color: transparent;
  }
   .carousel-inner > .item > img {
    min-height: 400px;
    top: 0;
    left: 0;
    min-width: 100%;
  } 

  .carousel-inner  {
    min-height: 400px;
  }

  .marquee-slide{
    height: 60px;
    background:#131e40 ;
    color: white;
    margin-top: 1px;
  }

  .marquee-slide marquee{
    color:white;
    margin-top:20px;
    font-size: 16px;
    font-weight: 700;
  }